wal
VSCodium
transmission-daemon
mimeapps.list
Code
alacritty
discord
musikcube
neofetch
nixpkgs
nvim
pcmanfm
pulse
cava
GIMP
google-chrome
gtk-3.0
gtk-2.0
libfm
pavucontrol.ini
Code - OSS
code-oss
Electron
glib-2.0
user-dirs.dirs
user-dirs.locale
Debauchee
pulseaudio-ctl/config
tint2/tint2rc
galculator/galculator.conf
